.card{
    transition: transform .15s;
    margin: 10px 0 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.link {
    text-decoration: none;
    color: black;
    width: 120%;
}

.link:hover {
    color: inherit;
}