.header {
    background: linear-gradient(rgba(30,122,199,255), rgba(55,156,226,255));
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'MuseoModerno', cursive;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 56px;
}

.sections {
    margin-left: 65px;
}

.sections ul li {
    color: black;
    font-weight: bold;
}